@import url('../../index.css');

.divs-javascript {
    border: 3px solid var(--cor-primaria);
    border-radius: 16px;
    padding: 6px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.2s;
}

.divs-javascript:hover {
    transform: scale(1.05);
}